[Unit]
Description=Saned ondemand

[Service]
#Type=oneshot
ExecStart=/opt/saned/config.sh

[Install]
WantedBy=multi-user.target

#/etc/systemd/system/saned.service
